

<section class="container-fluid contacto">
    <main class="container">
        <div class="row">
            <div class="col-12 col-sm-6 contacto__info">
                <h2 class="title title--big">Contactenos</h2>
                <h4 class="title title--sub">Calle 152 No. 58C - 50</h4>
                <p class="title title--big--sub">Bogotá - Colombia</p>
                <p class="text--med text--red">(+571) 355 1290</p>
                <a href="#" class="text--med text--red">info@email.co</a>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 contacto__form">
                <form class="form">
                    <div class="form-group">
                        <label for="exampleInputName">Nombre</label>
                        <input type="email" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo electrónico</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo electrónico">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputTelefono">Telefono</label>
                        <input type="number" class="form-control" id="exampleInputTelefono" placeholder="Telefono">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Mensaje</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Mensaje"></textarea>
                        <small id="emailHelp" class="form-text text-muted">Al hacer clic en "Enviar" estás aceptando nuestra política de manejo de datos.</small>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn--solid btn--red">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</section>
