

<section class="container-fluid funcionalidades">
    <main class="container">
        <div class="row">
            <h2 class="title title--big text--gray">Funcionalidades</h2>
            <ul class="col-12 col-sm-5 funcionalidades__list list list--inverse">
                <li class="funcionalidades__item list__item">
                    <img src="../../img/ico_1.svg" alt="">
                    <h3 class="title title--sub text--item">Panel de control</h3>
                    <p class="text--item">Este módulo te permitirá visualizar diferentes variables de medición de interés para la gerencia comercial como la proyección de ventas, el margen promedio de utilidades, los clientes y oportunidades.</p>
                </li>
                <li class="funcionalidades__item list__item">
                    <img src="../../img/ico_5.svg" alt="">
                    <h3 class="title title--sub text--item">Contactos</h3>
                    <p class="text--item">En este módulo puedes crear todos los contactos que tu o tu equipo han logrado obtener y asociarlos a una cuenta de cliente o un proveedor.</p>
                </li>
                <li class="funcionalidades__item list__item">
                    <img src="../../img/ico_8.svg" alt="">
                    <h3 class="title title--sub text--item">Usuarios</h3>
                    <p class="text--item">Desde este módulo puedes crear a las personas que interfieren en tu operación comercial y administrativa pero que no son vendedores.</p>
                </li>
            </ul>

            <ul class="col-12 col-sm-5 funcionalidades__list list">
                <li class="funcionalidades__item list__item">
                    <img src="../../img/ico_6.svg" alt="">
                    <h3 class="title title--sub text--item">Clientes</h3>
                    <p class="text--item">Mediante el módulo de clientes tú puedes crear, actualizar, eliminar y consultar todos los datos relacionados a los clientes, asignarles contactos y un vendedor a cargo.</p>
                </li>
                <li class="funcionalidades__item list__item">
                    <img src="../../img/ico_9.svg" alt="">
                    <h3 class="title title--sub text--item">Oportunidades</h3>
                    <p class="text--item">Es aquí donde registras el interés que tienen tus clientes sobre alguno o varios de tus productos y harás seguimiento de dicho interés a través estados de ventas que Salesman te ofrece por defecto.</p>
                </li>
                <li class="funcionalidades__item list__item">
                    <img src="../../img/ico_2.svg" alt="">
                    <h3 class="title title--sub text--item">Otros</h3>
                    <p class="text--item">El sistema cuenta con historial, busqueda avanzada, importación, exportación y notificaciones.</p>
                </li>
            </ul>
        </div>
    </main>
</section>
