

<section class="container-fluid hero">
    <main class="row">
        <div class="col-12 col-sm-4 hero__image">
            <img src="../../img/salesman.svg" alt="">
        </div>
        <div class="col-12 col-sm-8 hero__text">
            <img src="../../img/logo-hor-light.svg" alt="">
            <div class="hero__slider main-carousel">
                <div class="hero__item col-12">
                    <h2 class="title title--hero">Ideas para Pymer</h2>
                    <p class="text text--white">Buscamos optimizar el tiempo de los empresarios y sus colaboradores. Entendimos que las personas no pueden ser esclavas de un sistema. Nos enfocamos en crear un servicio que sea ágil en el que crear un registro tarde segundos. Un sistema que no pida datos irrelevantes, solo registros suficientes para entregar data estratégica para la toma oportuna de decisiones.</p>
                </div>
                <div class="hero__item col-12">
                    <h2 class="title title--hero">El recurso más importante es el tiempo</h2>
                    <p class="text text--white">Buscamos optimizar el tiempo de los empresarios y sus colaboradores. Entendimos que las personas no pueden ser esclavas de un sistema. Nos enfocamos en crear un servicio que sea ágil en el que crear un registro tarde segundos. Un sistema que no pida datos irrelevantes, solo registros suficientes para entregar data estratégica para la toma oportuna de decisiones.</p>
                </div>
                <div class="hero__item col-12">
                    <h2 class="title title--hero">Genere valor sólo con la información</h2>
                    <p class="text text--white">Buscamos optimizar el tiempo de los empresarios y sus colaboradores. Entendimos que las personas no pueden ser esclavas de un sistema. Nos enfocamos en crear un servicio que sea ágil en el que crear un registro tarde segundos. Un sistema que no pida datos irrelevantes, solo registros suficientes para entregar data estratégica para la toma oportuna de decisiones.</p>
                </div>
            </div>
            <div class="actions">
                <a href="" class="btn btn--solid btn--green">Login</a>
                <a href="" class="btn btn--solid btn--positive">Comienza Ahora</a>
            </div>
        </div>
        <div class="col-12 hero__icons">
            <p class="icon"><img src="../../img/ico_1.svg" alt=""></p>
            <p class="icon"><img src="../../img/ico_2.svg" alt=""></p>
            <p class="icon"><img src="../../img/ico_3.svg" alt=""></p>
            <p class="icon"><img src="../../img/ico_4.svg" alt=""></p>
            <p class="icon"><img src="../../img/ico_5.svg" alt=""></p>
        </div>
    </main>
</section>
