

<header class="container-fluid header">
    <main class="row">
        <a href="" class="btn btn--brand"><img src="../../img/logo.png" alt=""></a>
        <div class="header__navegation">
            <nav class="nav">
                <li class="nav__item"><a href="#" class="btn btn--menu">Inicio</a></li>
                <li class="nav__item"><a href="#" class="btn btn--menu">Funcionalidades</a></li>
                <li class="nav__item"><a href="#" class="btn btn--menu">Precios</a></li>
                <li class="nav__item"><a href="#" class="btn btn--menu">Saber mas</a></li>
                <li class="nav__item"><a href="#" class="btn btn--menu">Contacto</a></li>
            </nav>
            <div class="login">
                <li class="login__item">
                    <a href="" class="btn btn--login">iniciar sesion</a>
                </li>
                <li class="login__item">
                    <a href="" class="btn btn--login btn--solid btn--positive">Registrarse</a>
                </li>
            </div>
        </div>
        <span id="menu-open" class="btn btn--hamburguesa">
            <i class="btn--open fas fa-bars"></i>
            <i class="btn--close fas fa-times"></i>
        </span>
    </main>
</header>
<section class="container-fluid hero">
    <main class="row">
        <div class="col-12 col-sm-4 hero__image">
            <img src="../../img/salesman.svg" alt="">
        </div>
        <div class="col-12 col-sm-8 hero__text">
            <img src="../../img/logo-hor-light.svg" alt="">
            <div class="hero__slider main-carousel">
                <div class="hero__item col-12">
                    <h2 class="title title--hero">Ideas para Pymer</h2>
                    <p class="text text--white">Buscamos optimizar el tiempo de los empresarios y sus colaboradores. Entendimos que las personas no pueden ser esclavas de un sistema. Nos enfocamos en crear un servicio que sea ágil en el que crear un registro tarde segundos. Un sistema que no pida datos irrelevantes, solo registros suficientes para entregar data estratégica para la toma oportuna de decisiones.</p>
                </div>
                <div class="hero__item col-12">
                    <h2 class="title title--hero">El recurso más importante es el tiempo</h2>
                    <p class="text text--white">Buscamos optimizar el tiempo de los empresarios y sus colaboradores. Entendimos que las personas no pueden ser esclavas de un sistema. Nos enfocamos en crear un servicio que sea ágil en el que crear un registro tarde segundos. Un sistema que no pida datos irrelevantes, solo registros suficientes para entregar data estratégica para la toma oportuna de decisiones.</p>
                </div>
                <div class="hero__item col-12">
                    <h2 class="title title--hero">Genere valor sólo con la información</h2>
                    <p class="text text--white">Buscamos optimizar el tiempo de los empresarios y sus colaboradores. Entendimos que las personas no pueden ser esclavas de un sistema. Nos enfocamos en crear un servicio que sea ágil en el que crear un registro tarde segundos. Un sistema que no pida datos irrelevantes, solo registros suficientes para entregar data estratégica para la toma oportuna de decisiones.</p>
                </div>
            </div>
            <div class="actions">
                <a href="" class="btn btn--solid btn--green">Login</a>
                <a href="" class="btn btn--solid btn--positive">Comienza Ahora</a>
            </div>
        </div>
        <div class="col-12 hero__icons">
            <p class="icon"><img src="../../img/ico_1.svg" alt=""></p>
            <p class="icon"><img src="../../img/ico_2.svg" alt=""></p>
            <p class="icon"><img src="../../img/ico_3.svg" alt=""></p>
            <p class="icon"><img src="../../img/ico_4.svg" alt=""></p>
            <p class="icon"><img src="../../img/ico_5.svg" alt=""></p>
        </div>
    </main>
</section><section class="container-fluid funcionalidades">
    <main class="container">
        <div class="row">
            <h2 class="title title--big text--gray">Funcionalidades</h2>
            <ul class="col-12 col-sm-5 funcionalidades__list list list--inverse">
                <li class="funcionalidades__item list__item">
                    <img src="../../img/ico_1.svg" alt="">
                    <h3 class="title title--sub text--item">Panel de control</h3>
                    <p class="text--item">Este módulo te permitirá visualizar diferentes variables de medición de interés para la gerencia comercial como la proyección de ventas, el margen promedio de utilidades, los clientes y oportunidades.</p>
                </li>
                <li class="funcionalidades__item list__item">
                    <img src="../../img/ico_5.svg" alt="">
                    <h3 class="title title--sub text--item">Contactos</h3>
                    <p class="text--item">En este módulo puedes crear todos los contactos que tu o tu equipo han logrado obtener y asociarlos a una cuenta de cliente o un proveedor.</p>
                </li>
                <li class="funcionalidades__item list__item">
                    <img src="../../img/ico_8.svg" alt="">
                    <h3 class="title title--sub text--item">Usuarios</h3>
                    <p class="text--item">Desde este módulo puedes crear a las personas que interfieren en tu operación comercial y administrativa pero que no son vendedores.</p>
                </li>
            </ul>

            <ul class="col-12 col-sm-5 funcionalidades__list list">
                <li class="funcionalidades__item list__item">
                    <img src="../../img/ico_6.svg" alt="">
                    <h3 class="title title--sub text--item">Clientes</h3>
                    <p class="text--item">Mediante el módulo de clientes tú puedes crear, actualizar, eliminar y consultar todos los datos relacionados a los clientes, asignarles contactos y un vendedor a cargo.</p>
                </li>
                <li class="funcionalidades__item list__item">
                    <img src="../../img/ico_9.svg" alt="">
                    <h3 class="title title--sub text--item">Oportunidades</h3>
                    <p class="text--item">Es aquí donde registras el interés que tienen tus clientes sobre alguno o varios de tus productos y harás seguimiento de dicho interés a través estados de ventas que Salesman te ofrece por defecto.</p>
                </li>
                <li class="funcionalidades__item list__item">
                    <img src="../../img/ico_2.svg" alt="">
                    <h3 class="title title--sub text--item">Otros</h3>
                    <p class="text--item">El sistema cuenta con historial, busqueda avanzada, importación, exportación y notificaciones.</p>
                </li>
            </ul>
        </div>
    </main>
</section><section class="container-fluid precios">
    <main class="container">
        <div class="row">
            <h2 class="title title--big mb-sm-2">PRECIOS <span class="title title--big--sub">Obtén 15 <strong>días gratis</strong> con solo registrarse</span></h2>
            <div class="col-12 text-center mb-5">
                <a href="" class="btn btn--solid btn--red">registrate</a>
            </div>
            <div class="col-12 col-sm-6 precios__group border--right">
                <h2 class="title title--big text--red">Mensual</h2>
                <p class="title title--big text--red">usd <span class="title title--simbol text--red">$</span></p>
                <p class="title title--big text--price">12,00 <small>/ mes</small><span>iva incluido</span></p>
                <ul class="precios__list list">
                    <li class="precios__item list__item">
                        <img src="../../img/ico_01.svg" alt="">
                        <p class="text--item">Panel de control</p>
                    </li>
                    <li class="precios__item list__item">
                        <img src="../../img/ico_05.svg" alt="">
                        <p class="text--item">Registro de clientes</p>
                    </li>
                    <li class="precios__item list__item">
                        <img src="../../img/ico_04.svg" alt="">
                        <p class="text--item">Registro de contactos</p>
                    </li>
                    <li class="precios__item list__item">
                        <img src="../../img/ico_03.svg" alt="">
                        <p class="text--item">Registro de oportunidades</p>
                    </li>
                    <li class="precios__item list__item">
                        <img src="../../img/ico_02.svg" alt="">
                        <p class="text--item">Hasta 20 usuarios</p>
                    </li>
                </ul>
                <div class="action">
                    <a href="" class="btn btn--solid btn--red">comprar</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 precios__group">
                <h2 class="title title--big text--red">Anual</h2>
                <p class="title title--big text--red">usd <span class="title title--simbol text--red">$</span></p>
                <p class="title title--big text--price">132,00 <small>/ mes</small><span>iva incluido</span></p>
                <ul class="precios__list list">
                    <li class="precios__item list__item">
                        <img src="../../img/ico_01.svg" alt="">
                        <p class="text--item">Panel de control</p>
                    </li>
                    <li class="precios__item list__item">
                        <img src="../../img/ico_05.svg" alt="">
                        <p class="text--item">Registro de clientes</p>
                    </li>
                    <li class="precios__item list__item">
                        <img src="../../img/ico_04.svg" alt="">
                        <p class="text--item">Registro de contactos</p>
                    </li>
                    <li class="precios__item list__item">
                        <img src="../../img/ico_03.svg" alt="">
                        <p class="text--item">Registro de oportunidades</p>
                    </li>
                    <li class="precios__item list__item">
                        <img src="../../img/ico_02.svg" alt="">
                        <p class="text--item">Hasta 20 usuarios</p>
                    </li>
                </ul>
                <div class="action">
                    <a href="" class="btn btn--solid btn--red">comprar</a>
                </div>
            </div>
        </div>
    </main>
</section><section class="container-fluid contacto">
    <main class="container">
        <div class="row">
            <div class="col-12 col-sm-6 contacto__info">
                <h2 class="title title--big">Contactenos</h2>
                <h4 class="title title--sub">Calle 152 No. 58C - 50</h4>
                <p class="title title--big--sub">Bogotá - Colombia</p>
                <p class="text--med text--red">(+571) 355 1290</p>
                <a href="#" class="text--med text--red">info@email.co</a>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 contacto__form">
                <form class="form">
                    <div class="form-group">
                        <label for="exampleInputName">Nombre</label>
                        <input type="email" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo electrónico</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo electrónico">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputTelefono">Telefono</label>
                        <input type="number" class="form-control" id="exampleInputTelefono" placeholder="Telefono">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Mensaje</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Mensaje"></textarea>
                        <small id="emailHelp" class="form-text text-muted">Al hacer clic en "Enviar" estás aceptando nuestra política de manejo de datos.</small>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn--solid btn--red">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</section><footer class="container footer">
    <main class="row text-center">
        <p>© 2018 • SalesMan</p>
    </main>
</footer>
