.precios {
    &__group {
        margin-bottom: 3rem;
        @include breakpoint(tablet) { position: relative;}
        .title {
            &.title {
                &--big { 
                    margin-bottom: 0;
                    @include breakpoint(tablet-port) { text-align: left;}
                }
            }
        }
        p {
            @include breakpoint(tablet-port) {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    &__list {
        max-width: 80%;
        margin: 2rem auto 0;
        @include breakpoint(tablet) { padding-bottom: 1rem;}
        @include breakpoint(tablet-port) { max-width: 100%;}
    }
    &__item {
        padding-left: 2rem;
        @include breakpoint(tablet-port) { margin-bottom: 0;}
        img {
            width: 1.5rem;
        }
    }
    .action {
        text-align: center;
        @include breakpoint(tablet) {
            position: absolute;
            top: 100%;
            width: 100%;
            left: 0;
        }
    }
    .precios {
        &__group {
            @include breakpoint(tablet-port) {
                padding-left: 3rem;
                padding-right: 3rem;
            }
            @include breakpoint(big-screen) {
                padding-left: 8%;
                padding-right: 8%;
            }
        }
    }
}