<section class="container-fluid precios">
    <main class="container">
        <div class="row">
            <h2 class="title title--big mb-sm-2">PRECIOS <span class="title title--big--sub">Obtén 15 <strong>días gratis</strong> con solo registrarse</span></h2>
            <div class="col-12 text-center mb-5">
                <a href="" class="btn btn--solid btn--red">registrate</a>
            </div>
            <div class="col-12 col-sm-6 precios__group border--right">
                <h2 class="title title--big text--red">Mensual</h2>
                <p class="title title--big text--red">usd <span class="title title--simbol text--red">$</span></p>
                <p class="title title--big text--price">12,00 <small>/ mes</small><span>iva incluido</span></p>
                <ul class="precios__list list">
                    <li class="precios__item list__item">
                        <img src="../../img/ico_01.svg" alt="">
                        <p class="text--item">Panel de control</p>
                    </li>
                    <li class="precios__item list__item">
                        <img src="../../img/ico_05.svg" alt="">
                        <p class="text--item">Registro de clientes</p>
                    </li>
                    <li class="precios__item list__item">
                        <img src="../../img/ico_04.svg" alt="">
                        <p class="text--item">Registro de contactos</p>
                    </li>
                    <li class="precios__item list__item">
                        <img src="../../img/ico_03.svg" alt="">
                        <p class="text--item">Registro de oportunidades</p>
                    </li>
                    <li class="precios__item list__item">
                        <img src="../../img/ico_02.svg" alt="">
                        <p class="text--item">Hasta 20 usuarios</p>
                    </li>
                </ul>
                <div class="action">
                    <a href="" class="btn btn--solid btn--red">comprar</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 precios__group">
                <h2 class="title title--big text--red">Anual</h2>
                <p class="title title--big text--red">usd <span class="title title--simbol text--red">$</span></p>
                <p class="title title--big text--price">132,00 <small>/ mes</small><span>iva incluido</span></p>
                <ul class="precios__list list">
                    <li class="precios__item list__item">
                        <img src="../../img/ico_01.svg" alt="">
                        <p class="text--item">Panel de control</p>
                    </li>
                    <li class="precios__item list__item">
                        <img src="../../img/ico_05.svg" alt="">
                        <p class="text--item">Registro de clientes</p>
                    </li>
                    <li class="precios__item list__item">
                        <img src="../../img/ico_04.svg" alt="">
                        <p class="text--item">Registro de contactos</p>
                    </li>
                    <li class="precios__item list__item">
                        <img src="../../img/ico_03.svg" alt="">
                        <p class="text--item">Registro de oportunidades</p>
                    </li>
                    <li class="precios__item list__item">
                        <img src="../../img/ico_02.svg" alt="">
                        <p class="text--item">Hasta 20 usuarios</p>
                    </li>
                </ul>
                <div class="action">
                    <a href="" class="btn btn--solid btn--red">comprar</a>
                </div>
            </div>
        </div>
    </main>
</section>