.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    @include breakpoint(tablet-port) { padding: 2rem 0;}
    &__navegation {
        @extend %transform;
        width: 100%;
        position: fixed;
        top: -100%;
        z-index: 9;
        background: $red;
        @include breakpoint(tablet-port) {
            position: static;
            width: auto;
            background: none;
            display: flex;
            justify-content: space-between;
            flex: 0 0 100%;
            padding-left: 4.5rem;
            padding-right: 1rem;
        }
    }
    .nav,
    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include breakpoint(tablet-port) {
            flex-direction: row;
        } 
        &__item {
            text-align: center;
            list-style: none;
            padding: 0;
        }
    }
    .row {
        @include breakpoint(tablet-port) { align-items: center;}
    }
}

.open {
    &-menu {
        .header {
            &__navegation {
                top: 0;
                padding: 5rem 2rem 2rem;
            }
        }
        .btn {
            &--hamburguesa {
                .btn {
                    &--open { display: none;}
                    &--close { display: block;}
                }
            }
        }
    }
}