.hero {
    @extend %background;
    @extend %silueta;
    background-image: url(../img/banner-home.jpg);
    margin-bottom: 0;
    @include breakpoint(tablet) { padding-top: 6rem;}
    @include breakpoint(tablet-port) { 
        padding-top: 9rem;
        padding-bottom: 17rem;
    }
    @include breakpoint(desktop) { padding-bottom: 13rem}
    &:after,
    &:before {
        @extend %after-before-bas;
        @extend %background;
        width: 100%;
        left: 0;
    }
    &:after {
        background-color: rgba($red, 0.8);
        bottom: 0;
        height: 100%;
    }
    &:before { 
        background-image: url(../img/silhouette-home.svg);
        @include breakpoint(tablet-port) { height: 14rem;}
        @include breakpoint(desktop) { height: 17rem;}
        @include breakpoint(big-screen) { height: 19rem;}
    }
    &__image {
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
        img {
            width: 60%;
            margin: auto;
            @include breakpoint(tablet) { width: 100%;}
        }
    }
    &__slider {
        * { 
            color: white;
            text-align: center;
            @include breakpoint(tablet) { text-align: left;}
        }
        .title {
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
    }
    &__icons {
        text-align: center;
        .icon {
            display: inline-block;
            margin-right: 0.3rem;
            margin-bottom: 0;
            &:last-child { margin-right: 0;}
            img { width: 3rem;}
        }
    }
    &__text {
        @include breakpoint(desktop) {
            padding-left: 10% !important;
            padding-right: 10% !important;
        }
        img { 
            max-width: 60%;
            @include breakpoint(desktop) {
                max-width: 22rem;
                margin-left: -15%;
            }
        }
    }
    .actions {
        text-align: center;
        margin-bottom: 2rem;
        @include breakpoint(tablet) {
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;
        }
        @include breakpoint(tablet-port) { justify-content: flex-end;}
        .btn {
            &--green {
                @include breakpoint(tablet-port) { display: none;}
            }
        } 
    }
    .row {
        position: relative;
        z-index: 3;
    }

    .flickity {
        &-button { display: none;}
        &-page {
            &-dots {
                text-align: left;
                bottom: 0;
                left: 15px;
                .dot {
                    background: none;
                    border: 1px solid white;
                    .is-selected { background: white;}
                }
            }
        }
    }
}