<header class="container-fluid header">
    <main class="row">
        <a href="" class="btn btn--brand"><img src="../../img/logo.png" alt=""></a>
        <div class="header__navegation">
            <nav class="nav">
                <li class="nav__item"><a href="#" class="btn btn--menu">Inicio</a></li>
                <li class="nav__item"><a href="#" class="btn btn--menu">Funcionalidades</a></li>
                <li class="nav__item"><a href="#" class="btn btn--menu">Precios</a></li>
                <li class="nav__item"><a href="#" class="btn btn--menu">Saber mas</a></li>
                <li class="nav__item"><a href="#" class="btn btn--menu">Contacto</a></li>
            </nav>
            <div class="login">
                <li class="login__item">
                    <a href="" class="btn btn--login">iniciar sesion</a>
                </li>
                <li class="login__item">
                    <a href="" class="btn btn--login btn--solid btn--positive">Registrarse</a>
                </li>
            </div>
        </div>
        <span id="menu-open" class="btn btn--hamburguesa">
            <i class="btn--open fas fa-bars"></i>
            <i class="btn--close fas fa-times"></i>
        </span>
    </main>
</header>
