.contacto {
    @extend %silueta;
    background-color: $gray_light;
    margin-top: 11rem;
    padding-bottom: 0;
    margin-bottom: 0;
    @include breakpoint(tablet) { margin-top: 13rem;}
    @include breakpoint(desktop) { margin-top: 17rem;}
    &:before { 
        background-image: url(../img/silhouette-prices.svg);
        bottom: 100%;
        @include breakpoint(desktop) { height: 13rem;}
    }
    &__info {
        text-align: center;
        margin-bottom: 2rem;
    }
    .title {
        &.title {
            &--big {
                &--sub {
                    padding-bottom: 1rem;
                    margin-bottom: 1rem;
                    border-bottom: 1px solid $gray_text;
                    @include breakpoint(tablet-port) { display: inline-block;}
                }
            }
            &--sub {
                font-size: 1.7rem;
                font-weight: 600;
            }
        }
    }
}