.funcionalidades {
    @extend %silueta;
    @extend %background;
    background-color: $gray_light;
    padding-top: 2rem;
    top: -1px;
    @include breakpoint(tablet) {
        background-image: url(../img/corbata.svg);
        background-size: 5rem;
        background-position: center 7.5rem;  
    }  
    @include breakpoint(desktop) { background-size: 9rem;}  
    &:before { background-image: url(../img/silhouette-functionalities.svg);}
    .row {
        @include breakpoint(tablet) { justify-content: space-between;}
    }
}