/*
 * silc variable overrides
 *
 */

// Fonts

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

// Colors

$red:			#98171D;
$gray_text:		#4D4D4D;
$gray_light:	#F9F9F9;
$green:			#179875;

// artefacts, mixins

%general_shadow {
	box-shadow: 7px 7px 20px 0px rgba(50, 50, 50, 0.32);
	&:hover { box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.5);}
}

%transform {
	transform: transition;
	transition-duration: 0.5s;
}

%after-before-bas {
	position: absolute;
	content: " ";
}

%background {
	background: {
		repeat: no-repeat;
		size: cover;
		position: center center;
		color: transparent;
	}
}

%silueta {
	position: relative;
	padding-bottom: 11rem;
	&:before {
        @extend %after-before-bas;
        @extend %background;
        width: 100%;
        left: 0;
        height: 10rem;
        bottom: -1px;
        background-size: cover;
        z-index: 3;
    }
}

%shadow-text { text-shadow: 3px 3px 4px rgba(33, 52, 79, 1);}

@mixin linear-gradient($from, $to) {
	background: $to;
	  background: -moz-linear-gradient(top, $from 0%, $to 100%);
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
	  background: -webkit-linear-gradient(top, $from 0%,$to 100%);
	  background: -o-linear-gradient(top, $from 0%,$to 100%);
	  background: linear-gradient(to bottom, $from 0%,$to 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
  }

@mixin border-radius($radius) { 
	 -webkit-border-radius: $radius;
		-moz-border-radius: $radius; 
			 border-radius: $radius;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
    	    transform: $transforms;
}

@mixin breakpoint($point) {
	@if $point == mobile {
	  @media (min-width: 500px) { @content ; }
   }
	@else if $point == tablet {
	  @media (min-width: 600px) { @content ; }
   }
	 @else if $point == tablet-port {
	  @media (min-width: 900px) { @content ; }
   }
	@else if $point == desktop {
	  @media (min-width: 1115px)  { @content ; }
   }
   @else if $point == big-screen {
	  @media (min-width: 1200px)  { @content ; }
 
   }
 }




// layout

body {
	&.js {
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
	}
	section {
		margin-bottom: 2rem;
	}
	div {
		.text {
			&--red { color: $red;}
			&--gray { color: $gray_text;}
		}
	}
}

.btn {
	@extend %transform;
	&.btn {
		&--brand {
			padding: 1rem;
			@include breakpoint(tablet-port) { position: absolute;}
			img { width: 3rem;}
		}
		&--login,
		&--menu {
			padding: 0.7rem 1rem;
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
			color: white;
		}
		&--solid {
			@include border-radius(2.5rem);
			display: inline-block;
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			text-transform: uppercase;
			&:hover { 
				background-color: $green;
				color: white;
			}
		}
		&--positive {
			background: white;
			color: $red;
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
		&--green {
			background: $green;
			color: white;
		}
		&--red {
			background: $red;
			color: white;
		}
		&--hamburguesa {
			position: fixed;
			top: 1rem;
			right: 1rem;
			background: $red;
			border-radius: 100%;
			z-index: 10;
			@include breakpoint(tablet-port) { display: none;}
			.fas {
				color: white;
				font-size: 2rem;
			}
			.btn {
				&--close { display: none;}
			}
		}
	}
}

.text {
	&--price {
		line-height: 100%;
		span {
			display: block;
			font-weight: 300;
			font-size: 90%;
		}
	}
	&--med { 
		font-size: 1.9rem;
		margin-bottom: 0;
	}
}

.border {
	&--right {
		@include breakpoint(tablet) { border-right: 1px solid $red;}
	}
}


.title {
	color: $gray_text;
	&.title {
		&--big {
			font-size: 2.5rem;
			text-align: center;
			flex: 0 0 100%;
			font-weight: 600;
			margin-bottom: 2rem;
			&--sub { 
				font-size: 1.55rem;
				display: block;
				font-weight: 300;
				margin: 0.5rem 0;
				strong { font-weight: 600;}
			}
		}
		&--sub { font-size: 1.55rem;}
		&--simbol {
			font-size: 150%;
			vertical-align: middle;
			@include breakpoint(tablet-port) {
				font-size: 200%;
				margin-right: 0.5rem;
			}
		}
	}
}


.list {
	padding: 0;
	&__item {
		position: relative;
		list-style: none;
		padding-left: 4rem;
		margin-bottom: 1rem;
		@include breakpoint(tablet-port) { margin-bottom: 2rem;}	
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 3rem;
		}
	}
	&--inverse {
		.list {
			&__item {
				@include breakpoint(tablet) {
					padding-left: 0;
					padding-right: 4rem;
				}
				img {
					@include breakpoint(tablet) {
						left: initial;
						right: 0;
					}
				}
				.text--item,
				.title {
					@include breakpoint(tablet) { text-align: right;}
				}
			}
		}
	}
}


// form 

.form {
	.form {
		&-control {
			@include border-radius(0);
			background: none;
			border-top: none;
			border-left: none; 
			border-right: none;
			border-bottom: 1px solid $red;

		}
	}
}